{% extends 'main/header.html'%}
{% block content %}

	<section>
		<div class="container" style="margin-top: 20px;">
			<div class="row">
				<div class="col" style="margin-top: 20px; width:70%; margin-right: auto; margin-left: auto;">
					<ul class="list-group">
					  <li class="list-group-item active text-center" style="background-color: #696969; color:white; border:none"><h4>Enrolled Classes</h4></li>
					  	{% for i in classes %}
					  		{% if not count%}
					  			<a href="{% url 'separate_class' i.id %}"><li class="list-group-item" ><h6 style="margin-left: 70px; font-weight: bold;">{{ i.name }}</h5></li></a>
					  		{% else %}
					  			<li class="list-group-item" ><h6 style="margin-left: 70px; font-weight: bold;">{{ i.name }}</h5></li>
					  		{% endif %}
						{% endfor %}


					
				</div>
				<div class="col-6" >
					{% if count > 0 %}
						<div  style="margin-top: 20px; width:80%; margin-right: auto; margin-left: auto;">
							<form method="POST" id="form" action ="">
								{% csrf_token %}
								<input type="text" placeholder="Title" name="title" value={{ prefilled.title}}>
								<input style="margin-bottom: 5px; background-color: #696969; color:white;" class="btn btn-sm btn-info" type="submit" value="submit"/>
							</form>
							<textarea  rows="4" cols="50" name="description" placeholder="Description" form="form" >{{prefilled.description}}</textarea>
							<br>
							<select id="class"  style="margin-top:10px;" name="class" form="form" placeholder="Class" >
								<option value=""  disabled selected>Class</option>
								{% for i in classes %}
									<option value = {{i.name}}>{{i.name}}</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}
					<div class="container">
						{% for i in articles %}
							{% if not count %}
								{% if i.group in classes %}
									<div class="card" style="margin-top: 20px; width:97%; margin-right: 50px; margin-left: auto;">
									  <h5  class="card-header" style="background-color: #696969; color:white">{{ i.title }}</h5>
									  <div class="card-body">
									  	<h5  class="mb-1">{{ i.group }}</h5>
									    <a  href="{% url 'view_teacher' i.id %}"><h6 class="card-title">{{ i.teacher.name }}                      {{i.date_created}}</h6></a>
									    <p class="card-text">{{ i.description }}</p>
									   
									  </div>
									</div>
								{% endif %}
							{% else %}
								<div class="card" style="margin-top: 20px; width:97%; margin-right: 50px; margin-left: auto;">
									  <h5  class="card-header">{{ i.title }}</h5>
									  <div class="card-body">
									  	<h5  class="mb-1">{{ i.group }}</h5>
									    <h6  class="card-title">{{ i.teacher.name }}                      {{i.date_created}}</h6>
									    <p class="card-text" >{{ i.description }}</p>
									    <a class="btn btn-sm btn-info" style="background-color: #696969;"href="{% url 'edit_article' i.id %}">Update</a>
									    <a class="btn btn-sm btn-danger" style="background-color: red" 
									 	href="{% url 'delete_article' i.id %}">Remove</a>
									   
									  </div>
									</div>
							{% endif %}
						{% endfor %}
						
					</div>

				</div>
				<div class="col" >
					<div class="container" style="margin-top: 20px;" >
						
						<div class="list-group" >
							{% if count %}
								<a href="{% url 'add_assignment' %}"><button type="button" class="list-group-item list-group-item-action active text-center" style="background-color: #696969; border:none;"><h5>Create</h5> </button></a>
							{% endif %}
		
						  {% for i in assignments %}
						  	{% if not count %}
							  	{% if i.group in classes %}
								  	<a  href="{% url 'student_assignment' i.id %}" class="list-group-item list-group-item-action flex-column align-items-start" >
									    
									    {% if i in arr %}
									    	<h5 class="mb-1">{{ i.group }}<div id="tick-mark"></div></h5>
									    {% else %}
									    	<h5 class="mb-1">{{ i.group }}</h5>
									    {% endif %}
									      <h5  class="mb-1">{{ i.title }}</h5>
									      <small class="text-muted">Due : {{i.due_date}}</small>
									  </a>
								{% endif %}
							{% else %}
									<div class="list-group">
										<div class="list-group-item">
											<a href="{% url 'student_assignment' i.id %}" class="list-group-item list-group-item-action flex-column align-items-start" >
										    
										    	<h5  class="mb-1">{{ i.group }}</h5>
										      <h5 class="mb-1">{{ i.title }}</h5>
										      <small class="text-muted">{{i.due_date}}</small>
										       <a class="btn btn-sm btn-info" style="width:40%; margin-left: 15px; margin-top:10px;background-color: #696969;" href="{% url 'edit_assignment' i.id %}">Update</a><span> <a class="btn btn-sm btn-danger" style=" width:40%; margin-top:10px;background-color: red" 
											 	href="{% url 'delete_assignment' i.id %}">Remove</a></span>  
										  </a>
										</div>
									 </div>
							{% endif %}
						  {% endfor %}
						 
						  
						
						</div>
					</div>
				</div>
			</div>
			

		</div>
		
	</section>
{% endblock %}